/*
Helpers classes
================================
*/

.ta-r { text-align: right; }
.ta-l { text-align: left; }
.ta-c { text-align: center; }

.fs-25 {font-size: 1.25rem}
.fs-50 {font-size: 1.50rem}
.fs-75 {font-size: 1.75rem}

.fw-b {font-weight: bold}