/*
Navigation
================================
*/
.logo {
	font-size: 1.5rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	font-size: 0.9rem;
	-webkit-box-shadow: 0px 2px 11px -3px rgba(10,10,10,0.5);
	-moz-box-shadow: 0px 2px 11px -3px rgba(10,10,10,0.5);
	box-shadow: 0px 2px 11px -3px rgba(10,10,10,0.5);
}

.nav {
	list-style: none;
	cursor: pointer;
}

.nav__item {
	color: $color-font;
	display: inline-block;
	margin-left: 1rem;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:hover {
    	transition: all 0.2s ease-in;
    	color: $color-hover;
    }
}
.nav__item--secondary {
    padding-left: 2rem;
 }
.active {
    	transition: all 0.2s ease-in;
    	color: $color-active;
 }

.nav--secondary {
	font-weight: 400;
	color:$color-font;
}

@media only screen and (min-width: 1039px) {
	.nav {
		font-size: 1rem;
	}
}
@media only screen and (max-width: 850px) {
	.logo {margin-right: 2rem}
	.nav__item {
		margin-left: 0.25rem;
		font-size: 0.8rem;
	}


}

@media only screen and (max-width: 575px) {
		.logo{
			padding-bottom: 1rem;
			margin: 0 auto;
		}

		.navbar{
			flex-direction: column;
			text-align: center;
			padding: 1rem;
		}
		.nav {
		display: flex;
		flex-direction:column;
		text-align: center;
		}

		.nav__item {
			margin-left: 0px;
			margin-bottom: 0.25rem;
		}
}